

.all {
  background-color: #151515;
}
.contenido {
  display: flex;
  width: 65%;
  align-items: center;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 50px;
  padding: 50px;
  background-color: #4B1818;
  border-radius: 30px;
  color: #fff;
  font-size: 20px;
}
.contenido2 {
  display: flex;
  flex-direction: column;
  width: 90%;
  align-items: center;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 50px;
  padding: 50px;
  background-color: #4B1818;
  border-radius: 30px;
  color: #fff;
  font-size: 20px;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 100px;
  }
}

.carrusel {
  width: 50%;
  align-self: center;
  align-content: center;
}

.acceso {
  width: 100%;
  margin: 50px;
  padding-top: -100px;
}


.contacto , .infoTienda {
  width: 80%;
  margin: 0 auto;
  
  color: #fff;
}

.infoTienda {
  color: #000;
}

.contacto >h2, .cont1>h2{
  text-align: center;
}

.formPago {
  width: 90%;
  margin: 0 auto;
  
}
.formPago h2 {
  width: 90%;
  text-align: center;
}

.cont1 {
  width: 100%;
  max-width: 1000px;
  margin: 20px auto;
  padding: 50px;
  background-color: #faf3db;
  border-radius: 20px;
  color: #000;
}

.acceso> ul, .acceso>li{
  color: #000;
  background-color: #faf3db;
}

.ticketComp{
  background-color: #faf3db;
}

.acceso> .ticketComp{
  background-color: #faf3db;
}