* {
    font-family: "Montserrat", sans-serif;
}
body,
html,
form,
.botones,
.container1 {
    margin: 0;
    width: 100%;
    background-color: #151515;
    color: #fff;
}
.container1 {
    display: flex;
    justify-content: center;
}
#divModif {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}
#divModif >div{
    background-color: #4B1818;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
} 
.botones{
    
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
#divModif form {
    background-color: #4B1818;
    padding-left: 20px;
    padding-right: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius:20px ;

}
.borde,
form {
    display: flex;
    flex-direction: column;
}
.borde {
    max-width: 350px;
    box-sizing: border-box;
}
.regresar,
#guardar {
    width: 49%;
}
textarea {
    height: 150px;
    resize: none;
}
.botones {
    display: flex;
    justify-content: space-between;
}
input,
button,
textarea,
select {
    margin-bottom: 5px;
    box-sizing: border-box;
}
