* {
    font-family: "Montserrat", sans-serif;
}
body,
html,
form,
.container,
.carrito {
    margin: 0;
    width: 100%;
}
.container {
    padding: 20px;
    box-sizing: border-box;
}
.carrito {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
#carritoIcon {
    font-size: 40px;
    color: #000;
}
.numeroElementos {
    background-color: red;
    color: white;
    height: 19px;
    padding: 3px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
}
.consulta {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 10px;
}
.producto {
    border: 2px solid black;
    border-radius: 15px;
}
.tooltip {
    position: relative;
    display: inline-block;
    left: 6px;
    top: 6px;
    font-size: 30px;
    background-color: inherit;
    color: #000;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 100px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    font-size: 14px;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 0%;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}
img {
    height: 250px;
    width: 100%;
    object-fit: contain;
}
img:hover {
    opacity: 1;
    display: block;
    width: 100%;
    height: 270px;
    object-fit: contain;
    transition: 0.5s ease;
    backface-visibility: hidden;
}
.titulo {
    font-weight: bold;
}
.agregar {
    padding: 0;
    border: 0;
}
.noOferta {
    color: gray;
    text-decoration: line-through;
}
.oferta {
    color: rgb(255, 0, 0);
    font-weight: bold;
}