* {
    font-family: "Montserrat", sans-serif;
}
body,
html,
form,
.botones,
.container {
    margin: 0;
    width: 100%;
    background-color: brown;
}
.container {
    display: flex;
    justify-content: center;
}
#divAltas{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}
form {
    display: flex;
    flex-direction: column;
}
.regresar,
#guardar {
    width: 49%;
}
textarea {
    height: 150px;
    resize: none;
}
.botones {
    display: flex;
    justify-content: space-between;
}
input,
button,
textarea {
    margin-bottom: 5px;
    box-sizing: border-box;
}
